/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#navbar {
  width: 940px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  background-color: #2980b9;
  padding-top: 10px;
}

#navbar li { 
  display: inline; 
  padding-right: 40px; 
  font-color: white;
}

#jobstable th {
  padding-right: 90px;
  text-align: left;
}

li a {
  text-decoration: none;
  color: white;
}

li a:visited {
  text-decoration: none;
  color: white;
}

button a {
  text-decoration: none;
  color: white;
}

button a:visited {
  text-decoration: none;
  color: white;
}